

* {
	font-family: geneva;
}

body {
	background-image: url(../images/fondo2.png);
	background-repeat: repeat;
}

#contsub2 {
	background-color: #D9D9D9;

	margin: auto;
	color: black;

	text-align: center;
}

#plan1,
#plan2 {
	text-align: center;

}


#logo {
	margin: 2%;
	width: 100px;
}

#selecciona{
                  background-color: #cb4747;
                  color: white;
                  height: 30px;
                  width: 200px;
                  border-radius: 40px;
                }
#h2, #h22{
                background-color: #cb4747;
                color: white;
                border-radius: 40px;
                height: 130px;
              }
#b{color: white; position: relative; top: 3px; left: 145px}

span{color: red}

p{font-size: 20px}

#selecciona, #selecciona2{
                  background-color: #cb4747;
                  color: white;
                  height: 30px;
                  width: 200px;
                  border-radius: 40px;
                }

[class*="col-"] {
	width: 100%;
	float: left;
	padding: 10px;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
	#menuvertical {
		max-width: max-content
	}

	.col-s-1 {
		width: 8.33%;
	}

	.col-s-2 {
		width: 16.66%;
	}

	.col-s-3 {
		width: 25%;
	}

	.col-s-4 {
		width: 33.33%;
	}

	.col-s-5 {
		width: 41.66%;
	}

	.col-s-6 {
		width: 50%;
	}

	.col-s-7 {
		width: 58.33%;
	}

	.col-s-8 {
		width: 66.66%;
	}

	.col-s-9 {
		width: 75%;
	}

	.col-s-10 {
		width: 83.33%;
	}

	.col-s-11 {
		width: 91.66%;
	}

	.col-s-12 {
		width: 100%;
	}
}

/* For desktop: */
@media only screen and (min-width: 768px) {
	#menuvertical {
		max-width: max-content
	}

	.col-1 {
		width: 8.33%;
	}

	.col-2 {
		width: 16.66%;
	}

	.col-3 {
		width: 25%;
	}

	.col-4 {
		width: 33.33%;
	}

	.col-5 {
		width: 41.66%;
	}

	.col-6 {
		width: 47%;
	}

	.col-7 {
		width: 58.33%;
	}

	.col-8 {
		width: 66.66%;
	}

	.col-9 {
		width: 75%;
	}

	.col-10 {
		width: 83.33%;
	}

	.col-11 {
		width: 91.66%;
	}

	.col-12 {
		width: 100%;
	}
}