body{
  background-color: #D9D9D9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  left: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
#infantil{
  background-color: lightblue;
}

.cabecera_principal {
  position: fixed;
  background-color: #DC4B45;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
}

/*HEADER*/
#menu_icon {
  text-align: center;
  position: fixed;
  display: none;
  padding: 8px;
  font-size: 24px;
  height: 50px;
  width: 50px;
  color: white;
  margin: 20px;
  background-color: #6B170E;
  border-radius: 10px;
  z-index: 1001;
}

#logo{
  height: 100px;
  width: 100px;
  cursor: pointer;
}

#usuario {
  height: 100px;
  width: 100px;
  cursor: pointer;
}


.navbar {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.navbar a {
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 5px 0px;
  margin:0px 20px;
}

a#active, .navbar a:hover {
  text-decoration: underline;
  font-weight: 600;
}

.main {
  display: flex;
  align-items: center;
}

.main span {
  margin: 0 30px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

#input {
  width: 200px;
  height: 40px;
  border-radius: 15px;
  border-style: none;
  background-color: lightgrey;
  margin-right: -30px;
  cursor: pointer;
}

#search {
  height: 40px;
  width: 40px;
  border-radius: 15px;
  border-style: none;
  background-color: #6B170E;
  color: white;
  cursor: pointer;

}

  /*MENU POPUP*/
#menu_popup {
  display: none;
  position: fixed;
  background-color:  #6B170E;
  width: 300px;
  height: max-content;
  z-index: 2;
  border-radius: 0 0 10px 0;
  margin-top: 240px;
  padding-top: 242px;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.4);
}


#menu_popup li {
  font-size: 20px;
  padding: 15px;
  text-align: center;
}

#menu_popup li.active, #menu_popup li:hover {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#menu_popup a {
  color: white;
  text-transform: uppercase;
}

#menu_popup a:hover {
  font-size: 22px;
  font-weight: 500;
}

/*PARTE CENTRAL*/
#layout {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  min-width: min-content;
  background-color: lightgrey;
  position: relative;
  margin-top: 115px;
}
  /*POPUP USUARIO*/
#popup_usuario {
  display: none;
  position: fixed;
  left: 100%;
  width: 150px;
  height: max-content;
  background-color:  grey;
  padding-top: 30px;
  border-radius: 0 0 0 10px;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
  z-index: 2;
  transform: translateX(-100%);

}

#popup_usuario li {
  font-size: 17px;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}
.consulta_usuario1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#consultar_usuario {
  height: 35px;
  width: 35px;
  vertical-align: center;
}

#popup_usuario li:hover {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.2);
}

.lista_consultas li:nth-child(2), .lista_consultas li:nth-child(3), .lista_consultas li:nth-child(4) {
  text-decoration: underline;
}

  /*CATEGORIAS POPUP*/
#boton_categorias {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  width: max-content;
  background-color: darkgray;
  align-items: center;
  vertical-align: middle;
  padding: 5px;
}

#boton_categorias p {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-right: 5px;

}
#enlacebusqueda:hover{
  transform: scale(1.1);
}

#aviso{
text-align: center;
margin-top: 100px;
}

#boton_categorias:hover {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  cursor: pointer;
}

i.fa-caret-right {
  font-size: 24px;
  text-align: center;
}

#popup_categorias {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
}

#popup_categorias p {
  color: white;
  font-size: 22px;
  text-align: right;
  margin: 30px 100px 0px 0px;
  cursor: pointer;
}

#popup_categorias p:hover {
  font-size: 24px;
  margin-top: 27px;
  font-weight: 600;
}

#popup_categorias li {
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

#popup_categorias li.active, #popup_categorias li:hover {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#popup_categorias a {
  color: white;
  text-transform: uppercase;
}

#popup_categorias a:hover {
  font-size: 22px;
  font-weight: 500;
}

  /*MENU VERTICAL*/
#menuvertical {
  margin: 50px 10px 10px;
  display: flex;
  flex-direction: column;
  font-weight:bold;
  padding: 20px;
  background-color: white;
  overflow: hidden;
}

#menuvertical a {
  display: block;
  margin-bottom: 15px;
  padding: 15px;
  height: max-content;
  font-size: 17px;
  text-decoration: none;
  color: white;
  background-color: #DC4B45;
}

#menuvertical a:hover {
  background-color: #6B170E;
  font-size: 19px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}

  /*VIDEOS*/

#contenido {
  margin-left: 15px;
}

#titulo_inicio {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  margin: 5px 0px;
}

.videos {
  display: flex;
  flex-direction: column;
  align-self: normal;
}

.videos p {
  text-align: left;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px;
}

.videos a {
  font-size: 16px;
  font-weight: normal;
  color: black;
  text-decoration: underline;
}

#fila_2{ 
  margin: 30px 0px;
}

#video1, #video2, #video3, #video4, #video5, #video6, #video7, #video8, #video9 {
  padding: 5px;
  height: auto;
  position: relative;
  z-index: 1;
}

#video1 img, #video2 img, #video3 img, #video4 img, #video5 img, #video6 img, #video7 img, #video8 img, #video9 img {
  height: auto;
  width: 100%;
  border: none;
  top:-50px; 
  left:-35px; 
  display:block; 
  z-index:999; 
  cursor: pointer; 
  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 

} 

.videos img:hover{
  transform: scale(1.1);
  outline: 3px solid #6B170E; 
}


.btn_mas{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
}

.btn_mas:before {
  content: ' ';
  display: block;
  height: 82%;
}


.boton_anterior {
  left: -5%;
}
.boton_siguiente {
  float: right;
  left: 85%;
}
.boton_anterior, .boton_siguiente {
  top: 30%;
  bottom: 40%;
  width: 18%;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  border-style: none;
  border-radius: 100px;
  font-size: 30px;
  color: lightgrey;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  cursor: pointer;
}


.boton_anadir {
  position: absolute;
  height: 25%;
  width: 15%;
  bottom: 12%;
  left: 80%;
  text-align: center;
  float: right;
  font-size: large;
  padding: 2px;
  border-radius: 100px;
  cursor:pointer;
  border-style: none;
  background-color: lightgrey;
  box-shadow: 2px 3px 7px rgba(0,0,0,0.6);
  transition: all ease-in-out 0.2s;
}

.boton_anadir:hover {
  background-color: #6B170E;
  color: white;
  border-style: none;
  box-shadow: 2px 3px 7px rgba(0,0,0,0.6);
}

/*SIGUE VIENDO PROGRESS BAR*/
.progress_bar {
  position: relative;
  height: 3px;
  background-color: #959595;
  border-radius: 5px;
  z-index: 2;
  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
}

#video1:hover .progress_bar{
  transform: scale(1.1, 1.6);
}
#video2:hover .progress_bar{
  transform: scale(1.1, 1.6);
}

#video3:hover .progress_bar{
  transform: scale(1.1, 1.6);
}

#video4:hover .progress_bar{
  transform: scale(1.1, 1.6);
}

#video5:hover .progress_bar{
  transform: scale(1.1, 1.6);
}

#video6:hover .progress_bar{
  transform: scale(1.1, 1.6);
}

#video7:hover .progress_bar{
  transform: scale(1.1, 1.6);
}

#video8:hover .progress_bar{
  transform: scale(1.1, 1.6);
}

#video9:hover .progress_bar{
  transform: scale(1.1, 1.6);
}

.progress_bar div {
  height: 3px;
  border-radius: 5px;
  width: 0%;
  background-color: red;
}

.progress1 {
  animation: progress1 1s linear forwards;
}
.progress2 {
  animation: progress2 1s linear forwards;
}
.progress3 {
  animation: progress3 1s linear forwards;
}
.progress4 {
  animation: progress4 1s linear forwards;
}
.progress5 {
  animation: progress5 1s linear forwards;
}
.progress6 {
  animation: progress6 1s linear forwards;
}
.progress7 {
  animation: progress7 1s linear forwards;
}
.progress8 {
  animation: progress8 1s linear forwards;
}
.progress9 {
  animation: progress9 1s linear forwards;
}

@keyframes progress1 {
  100%{
    width: 75%;
  }
}

@keyframes progress2 {
  100%{
    width: 36%;
  }
}

@keyframes progress3 {
  100%{
    width: 40%;
  }
}

@keyframes progress4 {
  100%{
    width: 90%;
  }
}

@keyframes progress5 {
  100%{
    width: 82%;
  }
}

@keyframes progress6 {
  100%{
    width: 70%;
  }
}

@keyframes progress7 {
  100%{
    width: 10%;
  }
}

@keyframes progress8 {
  100%{
    width: 50%;
  }
}

@keyframes progress9 {
  100%{
    width: 25%;
  }
}

/*MEDIA SCREEN (RESPONSIVE)*/


@media (max-width: 1480px){
  .cabecera_principal {
    transition: 0.2s;
  }
  .navbar a{
    margin: 0px 10px;
  }
}

@media (max-width: 1354px){
  .main span {
    display: none;
  }
  #usuario {
    margin-left: 30px;
  }
}

@media (max-width: 1242px){
  .viendo {
    display: none;
  }
  #menu_icon {
    display: block;
  }

  #logo {
    margin-left: 100px;
  }
}

@media (max-width: 1194px){
  .visto {
    display: none;
  }
}

@media (max-width: 985px){
  .favoritos {
    display: none;
  }
}

@media (max-width: 819px){
  .series {
    display: none;
  }
}

@media (max-width: 740px){
  .peliculas {
    display: none;
  }
}

@media (max-width: 634px){
  .inicio {
    display: none;
  }
  .main input {
    display: none;
  }
}
[class*="col-"] {
  float: left;
}

@media only screen and (max-width: 767px) {
  #menuvertical {display: none;}
  #boton_categorias {display: flex;}
  #contenido {margin-left: 70px;}
}

/* For tablets: */
@media only screen and (min-width: 600px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

/* For desktop: */
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}



